<!DOCTYPE html>
<html lang="en">
<head>

  <title>Fraud Prediction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
  <style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color:rgb(216, 122, 14); /*  */
    color: black;
    text-align: left;

  }
  .bg-2 { 
    background-color: #020202; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default bg-4">
  <div class="container">
    <div class="navbar-header">
      
      <h2>FRAUD DETECTION MODEL</h2>
    </div>
    
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><p>Fraud Detection portal: Kindly input all variales relevant to Transaction</p></div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
  <form action="{{ url_for('predict')}}"method="post">



    <div class="form-group">
      <label for="payment_method">Select Payment Method</label>
      <br>
      <select  class="input100" id="payment_method" name="payment_method" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
        <option value="">Select payment method</option>
        <option value="0">e_wallet_payments</option>
        <option value="1">other_debit_cards</option>
        <option value="2">sbi_atm_cum_debit_card</option>
        <option value="3">unified_payments_interface</option>
        <option value="4">visa_master_credit_cards</option>
        <option value="5">visa_master_debit_cards</option>
        
      </select>
    </div>


    <div class="form-group">
      <label for="money_transacted">Enter Amount transacted</label>
      <br>
      <input class="input100" type="text" id="money_transacted" name="money_transacted" placeholder="Please enter amount" required="required">
    </div>
     
    <div class="form-group">
    <label for="partner_id">Select Partner ID</label>
    <br>
    <select  class="input100" id="partner_id" name="partner_id" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
      <option value="">Select Partner ID</option>
      <option value="0">7889</option>
      <option value="1">15778</option>
      <option value="2">23667</option>
      <option value="3">31556</option>
      <option value="4">39445</option>
      <option value="5">47334</option>
      <option value="6">55223</option>
      <option value="7">63112</option>
      <option value="8">71001</option>
      <option value="9">78890</option>
      <option value="10">86779</option>
      <option value="11">94668</option>
      <option value="12">102557</option>
      <option value="13">110446</option>
      <option value="14">118335</option>
      <option value="15">126224</option>
      <option value="16">149891</option>
      <option value="17">157780</option>
      <option value="18">165669</option>
      <option value="19">173558</option>
      <option value="20">181447</option>
      <option value="21">189336</option>
      <option value="22">213003</option>
      


      </select>
  </div>


  <div class="form-group">
  <label for="partner_category">Select Partner Category</label>
  <br>
  <select  class="input100" id="partner_category" name="partner_category" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
    <option value="">Select partner_category</option>
    <option value="0">cat_1</option>
    <option value="1">cat_2</option>
    <option value="2">cat_3</option>
    <option value="3">cat_4</option>
    <option value="4">cat_5</option>
    <option value="5">cat_6</option>
    <option value="6">cat_7</option>
    <option value="7">cat_8</option>
    <option value="8">cat_9</option>

    
  </select>
  </div>



  <div class="form-group">
  <label for="device_type">Select device_type</label>
  <br>
  <select class="input100"  id="device_type" name="device_type" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
    <option value="">Select device type</option>
    <option value="0">android_devices</option>
    <option value="1">ios_devices</option>
    <option value="2">other_pcs</option>
    <option value="3">windows_pcs</option>
  </select>
  </div>


  <div class="form-group">
  <label for="partner_pricing_category ">Select owner type</label>
  <br>
  <select class="input100"  id="partner_pricing_category" name="partner_pricing_category" style="padding: 10px 5px;margin-top: 15px;border: 2px solid #d9d9d9;" >
    <option value="">partner_pricing_category</option>
    <option value="0">1</option>
    <option value="1">2</option>
    <option value="2">3</option>
    <option value="3">4</option>

  </select>
  </div>

  <div class="form-group">
    <br>
    <label for="Hours">Enter Hour b/w 1-24 of transaction</label>
    <br>
    <input class="input100" type="text" id="Hours" name="Hours" placeholder="Hours ex: 12" required="required">
  </div>


  <div class="form-group">
    <label for="day">Enter day of transaction</label>
    <br>
    <input class="input100" type="text" id="day" name="day" placeholder="day ex: 12" required="required">
  </div>



    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    <button type="submit" class="btn btn-primary btn-block btn-large">Prediction</button>
  </form>
  {{ prediction_text }}
</div>
<div class="col-md-4"></div>
</div>
</div>


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Thanks to <a href="https://www.boardinfinity.com">BoardInfinity</a></p>
  <p class='footer-description'>❤️ ❤️ ❤️</p>
  <div class="contact" >
    <a target="_blank" href=""><i class="fab fa-github fa-lg contact-icon" style="color:blanchedalmond !important"></i></a>
    <a target="_blank" href=""><i class="fab fa-linkedin fa-lg contact-icon" style="color:blanchedalmond !important"></i></a>
</div>
   
  
</footer>



</body>
</html>